@model IEnumerable<SisRep.Models.reposicione>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.puesto.puesto1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaAsignacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaResolucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.herramienta.herramienta1)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.usuario.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.puesto.puesto1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaAsignacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaResolucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.herramienta.herramienta1)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.usuario.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario1.nombre)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.idReposicion }) 
        </td>
        <td>
            @Html.ActionLink("Finalizar", "Finalizar", new { id = item.idReposicion }, new { onclick = "return confirm('Confirmar:  la solicitud Nº: " + item.idReposicion + " se encuentra resuelta ');" })
        </td>
    </tr>
}

</table>
