@model IEnumerable<SistRepos.Models.ger5>

    @{
        Layout = null;
    }

    <!DOCTYPE HTML>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Sistema de Reposiciones</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    </head>
    <body onload="window.print();">
        <div>
            <h4>Solicitudes canceladas el año <strong> @ViewBag.year </strong> </h4>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.solicitante)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.creacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.horaCancelacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.herramienta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.puesto)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.solicitante)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.horaCancelacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.herramienta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.puesto)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </body>
</html>
