@model IEnumerable<SistRepos.Models.reposiciones>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sistema de Reposiciones</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body onload="window.print();">
    <div> 
        <h4>Solicitudes finalizadas operario <strong>@ViewBag.ope</strong> @if (ViewBag.date != null) { <label>del mes</label> @ViewBag.date } </h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.horaCreacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.horaAsignacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.horaResolucion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.herramientas.herramienta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.puestos.puesto)
                </th>
                <th>
                    Solicitante
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.horaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.horaAsignacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.horaResolucion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.herramientas.herramienta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.puestos.puesto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.solicitantes.username)
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
