@model MvcHeribert.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <strong> @Html.DisplayNameFor(model => model.Username) : </strong>  @Html.DisplayFor(model => model.Username)
        </dd>
        <dd>
            <strong>@Html.DisplayNameFor(model => model.Email) : </strong> @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
