@{
    ViewBag.Title = "Sistema de Reposiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p> @Html.ActionLink("Cargar Herramientas", "h") </p>
<p> @Html.ActionLink("Cargar Estados", "e") </p>

<p> @Html.ActionLink("CargarUsuarios", "cu") </p>
<p> @Html.ActionLink("Cargar400ReposicionesCerradas", "r400") </p>
<p> @Html.ActionLink("Cargar15ReposicionesAbiertasyAsignadas", "a30") </p>
<p> @Html.ActionLink("Cargar15ReposicionesAbiertasyNoAsignadas", "b30") </p>


<p> @Html.ActionLink("Log In","Index","LogIn") </p>